@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", arial;
  background-color: #2f303a;
  --base-height: 0.2em;
  --base-transform: 1.9em;
  --array-height: 0.5vh;
  --array-transform: calc(80vw / 20);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: inherit;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  background: #1f1b24;
}

.header-title {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.sorting-logo {
  width: 2em;
}

.github-logo {
  width: 1.5em;
}

select {
  background-color: #6e6d6f;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: 5em;
  z-index: 1;
  color: white;
  outline: none;
}

.select {
  align-items: center;
  margin: 0;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #6e6d6f;
}

.sorting-nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;
  margin-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.sorting-cta {
  margin: unset;
  display: flex;
  gap: 1em;
}
.sorting-categories-container {
  margin: unset;
}

/* Button Styles */
.sorting-nav button {
  background: #6e6d6f;
  border-radius: 0.25em;
  padding: 0.5em;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease 0s;
  cursor: pointer;
  width: 50%;
  font: inherit;
  font-size: 0.9em;
}

button:hover:enabled {
  color: #ff4949 !important;
  font-weight: 700 !important;
  border-radius: 0.5em;
  letter-spacing: 3px;
  background: none;
  transition: all 0.3s ease 0s;
  box-shadow: 1px 3px 2px rgba(118, 115, 115, 0.25);
}

button:disabled {
  cursor: not-allowed !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}
/* End Button Styles */

/* Sorting Styles */
#array {
  height: 64vh;
  width: 80vw;
  margin: auto;
  position: relative;
  margin-top: 1em;
  margin-bottom: 0.8em;
}

main {
  width: 90vw;
  border-radius: 0.8em;
  background-color: #d5d5d5;
  position: relative;
  margin: auto;
}

.block {
  width: calc(72vw / 20);
  background-color: #6b5b95;
  position: absolute;
  bottom: 10px;
  border-radius: 0.3em 0.3em 0 0;
  transition: 0.3s all ease;
}

.block_id {
  position: absolute;
  color: black;
  background-color: white;
  width: 100%;
  text-align: center;
  font-size: .5em;
  font-weight: bold;
  bottom: -23px;
  border-radius: 0 0 0.3em 0.3em;
}
/* Sorting Styles End */

@media screen and (min-width: 500px) {
  .block_id {
    font-size: .8em;
    bottom: -30px;
  }
}

@media screen and (min-height: 1080px) {
  #array {
    --array-height: 0.4vh;
    height: 50vh;
  }
}


@media screen and (min-width: 600px) {
  .sorting-nav {
    margin-top: 0.5em;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
  }
  .sorting-cta button {
    font-size: 1em;
    width: auto;
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (min-width: 800px) {
  /* Sorting Styles */
  #array {
    --array-transform: calc(60vw / 20);
    width: 60vw;
  }

  main {
    width: 66vw;
  }
  .block {
    width: calc(54vw / 20);
  }
  /* Sorting Styles End*/
}

@media screen and (min-width: 980px) {
  /* Sorting Styles */
  #array {
    --array-transform: calc(50vw / 20);
    width: 50vw;
  }

  main {
    width: 54vw;
  }
  .block {
    width: calc(46vw / 20);
  }
  /* Sorting Styles End*/

  .header-container {
    justify-content: space-around;
  }
}
