@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", arial;
  background-color: #2f303a;
  --base-height: 0.2em;
  --base-transform: 1.9em;
  --array-height: 3px;
  --array-transform: 30px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: inherit;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1em;
  color: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #1f1b24;
}

.header-title {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.sorting-logo {
  width: 2em;
}

.github-logo {
  width: 1.5em;
}

select {
  /* appearance: none; */
  background-color: #6e6d6f;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: 5em;
  z-index: 1;
  color: white;
  outline: none;
}

.select {
  align-items: center;
  margin: 0;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #6e6d6f;
}

.sorting-nav {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.sorting-nav button {
  background: #6e6d6f;
  border-radius: 0.25em;
  padding: 0.5em 2em;
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

button:hover:enabled {
  color: #ff4949 !important;
  font-weight: 700 !important;
  border-radius: 0.5em;
  /* border: #ff4949 solid; */
  letter-spacing: 3px;
  background: none;
  /* transition: all 0.3s ease 0s; */
  box-shadow: 1px 3px 2px rgba(118, 115, 115, 0.25);
}

button:disabled {
  cursor: not-allowed !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

.sorting-cta {
  margin: unset;
  display: flex;
  gap: 1em;
}
.sorting-categories-parent {
  margin: unset;
}

@media screen and (max-width: 660px) {
  .sorting-cta button {
    width: 50%;
    font-size: 0.9em;
  }
  .sorting-nav {
    flex-direction: column;
    gap: 1em;
    align-items: stretch;
    padding-left: 1em;
    padding-right: 1em;
  }

  /* CSS for Sorting */
  #array {
    height: 350px !important;
    width: 80vw !important;
    --array-transform: calc(80vw / 20);
  }
  main {
    width: 90vw !important;
  }

  .block {
    width: calc(72vw / 20) !important;
  }
}

@media screen and (max-width: 400px) {
  .block_id {
    visibility: hidden;
  }
}

/* CSS for Sorting */
#array {
  height: 413px;
  width: 600px;
  margin: auto;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}

main {
  border-radius: 10px;
  background-color: #d5d5d5;
  width: 660px;
  position: relative;
  margin: auto;
}

.block {
  width: 28px;
  background-color: #6b5b95;
  position: absolute;
  bottom: 0px;
  border-radius: 5px;
  transition: 0.3s all ease;
}

.block_id {
  position: absolute;
  color: black;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}
